*, *::before, *::after{
  box-sizing: border-box;
  margin:0;
  padding:0;

}

ul{
  list-style:none;
}

body{
  background-color:darkgray;
}


$brandColor: #ffedbb;


.container{
  width: 1340px;
  margin: 0 auto;
}